[submodule "alias-airplane-data"]
	path = alias-airplane-data
	url = ../alias-airplane-data
[submodule "alias-isr"]
	path = alias-isr
	url = ../alias-isr
[submodule "alias-tec-routes"]
	path = alias-tec-routes
	url = ../alias-tec-routes
	branch = main
